$portfolio-font: 'Open Sans', sans-serif;

$portfolio-normal-bg: #E4E6EB;
$portfolio-normal-bg-light: #fff;
$portfolio-normal-bg-dark: #b2b4b9;

$portfolio-night-bg:  #010409;
$portfolio-night-bg-light: #161b22;
$portfolio-night-bg-dark: #000;

$portfolio-normal-text-color: #0D1C51;
$portfolio-night-text-color: #fff;

$portfolio-text-aqua: #7ffbff;
// $portfolio-text-