@import '../../../styles/variables';

.NavigationItems{
    // margin: 1rem 0;
    padding: 0;
    color: $portfolio-normal-text-color;
    
    .ListItem{
        list-style:none;
        display: flex;
        flex-flow:column;
        text-align: left;
        height:100%;
        
    }

    .Night{
        color: $portfolio-night-text-color;
    }

    @media only screen and (min-width: 600px){
        .ListItem{
            flex-flow:row;
            float:right;
        }
    }
}

@media only screen and (max-width: 599px){
    .NavigationItems{
        margin:30px 0px;
    }
}

